*{box-sizing: border-box;}

%centered{
    display:flex;
    justify-content: center;
    align-items: center;}

body{
    background-color: rgba(0, 168, 112, 0.616);
    margin: 0;
    header{
    
        background-color:yellow;
        text-align: center;
        color: red

    }











}  




