:root{
    font-size: 18px;
} 
body{
    background-color: coral;
}   
.header{
    display: flex;
    justify-content: flex-end;
    padding: 4% 0%;
}
.nav{
    background-color: cornsilk;
}
.logo{
    width: 500px;
    height: 200px;
    background-image:url(https://github.com/apietryga/kurs-Front-end/blob/master/materialy/lekcja2/cw1/logo_sprites.jpg?raw=true);
}

.logo:hover{
    background-position: 0 -200px;
}
.logo:active{
    background-position: 0 -400px;}
.buttons{
    display: flex;
    justify-content: space-between;
}    
.buttons div{
    padding: 2%;
}
.chartcontainer{
    background-color: darkgray;
    padding: 2%;
    padding-top: 1%;
    margin-bottom: 2%;
}
.chart{
    height: 42vh;
    min-height: 4,5cm;
    display:flex;
    justify-content: space-evenly;
    border: 1px dashed black;

}
.chart div{
    background-color: black;
}
.vertical div{width: 10%;}
.vertical div:nth-child(1){height: 4px;}
.vertical div:nth-child(2){height: 4mm;}
.vertical div:nth-child(3){height: 4pc;}
.vertical div:nth-child(4){height: 4cm;}

.horizontal{flex-direction: column;}
.horizontal div{height: 11%;}
.horizontal div:nth-child(1){width: 4vw;}
.horizontal div:nth-child(2){width: 4%;}
.horizontal div:nth-child(3){width: 4em;}
.horizontal div:nth-child(4){width: 4rem;}

.ems{
    font-size: 13px;
    text-align: right;}

.em{
        display: inline;
        font-size: 2em;}