body div{
    border: 2px dashed green;
    box-sizing: border-box ;
}
.static{
    position: static;
    background-color: yellow;
}
.fixed{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: indigo;
}
.sticky{
    position: sticky;
    top: 10px;
    background-color: tomato;
    z-index: 1;
}
.relative{
    position: relative;
    border: 4px dashed grey;
    height: 25vh;
    background-color: ivory;

}
.absolute{
    position: absolute;
    right: 0;
    bottom: 3;
    background-color:rgba(red, green, blue, alpha)
}
.left{
    color:rebeccapurple;
    background-color: khaki;
    margin: 2px;
    padding-top: 2vh;

}
.right{
    color: seashell;
    background-color: lightskyblue;
    margin: 2vm;
    padding: 5cm;

}

.media{
    display: flex;
}
 @media(max width:550px)
{media{display: block;}
}
