body{
    background-color: chartreuse;
}
h1{
    color:red;
    text-align: center;
}

.parent{
    border:2px dashed red;
    display:flex;
 justify-content: space-evenly;  
}

.parent div{
    background-color: red;
    border: 5px dashed blue
    width: 20%;
}


.parent div img{
    background-color: yellow;
    width: 100%;
}
.content{
    border:2px dashed red ;
    display: flex;
    justify-content:center;
    margin-top: 2%;
}
.content div{
    border:2px dashed blue
}
.content img{
    background-color: slategray;
    width: 100;
}
.content .desc{
    background-color: teal;
    padding: 2%;
    margin: 2%;
}
.footer{
    background-color: pink;
    border: 2px dashed red;
    margin-top: 2%;
    padding: 3% 2%;
    text-align: right;
}